* {
    font-family: "Raleway",  monospace, serif;
}

.phone-number {
    font-family: "Open Sans", sans-serif;
    color: #FEA621;
    font-weight: 600;
    font-size: 26px;
}

.top-right-header .call-now {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
}

a:link {
    text-decoration: none;
    color: gray;
  }

  a:visited {
    text-decoration: none;
    color: gray;
  }


  a:active {
    text-decoration: none;
    color: gray;
  }


.top-nav {
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 100%;
}

a.active-link {
    background-color: #FEA621;
}

.main-section {
    // background-image: url("/images/background-forklift-compressed.jpg");
    height: 100vh;
    background-size: cover;
    background-position: left center;
    position: relative;
    z-index: 1;
}

.main-section:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.64));
    z-index: 2;

}

nav {
    background-color: #212121;
    width: 100%;
    display: block;
}

.small-logo {
    width: 118px;
    height: 81px;
}

// nav

.nav-container {
    z-index: 9999;
    background-color: #212121;
}


.nav-container .container{
    z-index: 9999;
}


.nav-container nav a {
    display: inline-block;
    width: 100%;
    color: white;
    font-weight: 500;
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    transition: all .15s ease-in-out;
    cursor: default;
}

.nav-container nav li {
    transition: all .20s ease-in-out;
    cursor: default;
}

.nav-container nav li.current {
    background-color: #FEA621;
}

.nav-container nav li:hover {
    background-color: #FEA621;
    cursor: default;
}


.d-flex.flex-column.logo-text-container {
    margin-left: 5px;
    padding-top: 7px;
}

.logo-text-container h1 {
    color: #fafafa;
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: 1px;
}

.hero-section {
    z-index: 2;
}

.hero-section .hero-column {
    background-color: rgba(37, 37, 37, 0.69);
}

.hero-row .hero-column h1 {
    font-size: 46px;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
}

.phone-icon-wrapper {
    display: none;
    width: 70px;
    position: fixed;
    z-index: 999999;
    right: 0px;
    bottom: 0px;
    height: 70px;
    background-color: #FEA621;
    border-radius: 50%;
    padding: 17px;
    margin: 10px;
    box-shadow: 0px 0px 12px -4px #000000b3;
}

.top-nav-info {
    position: relative;
}


.hero-column {
    background-color: rgba(63, 63, 63, 0.8);
    padding-top: 197px;
}

.hero-row {
    height: 100%;
}

.info-container {
    background-color: #212121;
}

.info-row {
    height: 100%;
}

.info-right {
    background-color: #FEA621;
    height: 100%
}

// Info section

.info-container .info-card {
    padding-top: 60px;
    padding-bottom: 80px;

}

.info-container .info-card h2 {
    color: white;
    font-weight: 600;
    font-size: 26px;
    text-align: left;
}

.info-wrapper {
    background-color: #212121;
    position: relative;
    // z-index: 1;
}

.card-wrapper {
    background-color: #212121;
}

.card-wrapper-yellow {
    background-color: #FEA621;
}

.info-container .info-card .text-color-yellow {
    color: #FEA621;
}

.logo-text-container .text-color-yellow {
    color: #FEA621;
}

.info-container .info-card p {
    color: #888;
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.6;
    font-weight: 500;
}

.info-image-container {
    position: relative;
    // z-index: 1;
}

.info-container .info-card img {
    width: 100%;
    // z-index: 1;
    position: relative;
}

.info-container .info-card-yellow p {
    color: #212121d6;
}

.logo-text-container .text-color-yellow {
    color: #FEA621;
}

.card-wrapper-yellow .info-card-yellow .text-dark {
    color: #212121;
}


.service-area-wrapper .service-area-right {
    background-color: #4b4b4a;

}

.service-area-wrapper .service-area-right h1 {
    font-size: 36px;
    color: white;
    font-weight: 700;
    // letter-spacing: 3px;

}

.map-wrapper {
    margin: 80px 0px;
}

.location-icon {
    width: 72px;
    margin-bottom: 24px;
    display: block;
}

#Capa_1 {
    fill: #fea627;
}

.brands-section-wrapper {
    background-color: white;
    overflow: hidden;
}

.slick-slide img {
    display: block;
    margin: auto;
}

.form-section-wrapper {
    background-color: #ffffff;
}


.form-section-wrapper .contact-form-container .form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: hsla(0, 0%, 97%, 1);
    background-clip: padding-box;
    border: 2.5px solid #4b4b4a8f;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: 0px 0px 11px -4px #00000026;
}


.contact-section-right {
    background-color: #4b4b4a;
}

.contact-form-label {
    color: #4b4b4ae3;
    margin-top: 0px;
    margin-bottom: 33px;
    font-weight: 600;
    font-size: 26px;
}

.form-wrapper {
    margin: 40px 0px;
}

.head-nav-wrapper {
    position: fixed;
    height: 197px;
    width: 100%;
    z-index: 1;
}

.box-shadow-wrapper {
    box-shadow: 0px 0px 12px -4px #0000005e;
    position: relative;
    // z-index: 1;
}

form {
    width: 100%;
    max-width: 400px;
}

.form-section-wrapper .contact-form-container .form-control.is-invalid {
    border: 2.25px solid #e00000b8;
    padding-right: calc(1.6em + 0.75rem);
    background-repeat: no-repeat;
    background-position: center right calc(0.4em + 0.1875rem);
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.hidden-top {
    height: 129.27px;
    transition: all 0.10s ease-in-out;
    overflow: hidden;
}


.shrink-hidden-top {
    height: 0px;
    overflow: hidden;
    transition: all 0.10s ease-in-out;

}

.about-section {
    height: 440px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
}

.about-section:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.82);
    // z-index: 2;
}

.main-container {
    overflow: hidden;
}

.about-column-right {
    background-color: #FEA621;

}

.about-section-container {
    height: 100%;

}

.container-fluid.about-section {
    background-image: url('/images/about-background.jpg');
}

.about-heading-container {
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.about-heading-container h1 {
    color: white;
    font-size: 38px;
    text-align: center;
}

.about-heading-container h1 span {
    color: #FEA621;
    font-weight: 700;
    font-size: 48px;
}

.about-right-container {
    height: 100%;
    color: white;
}

.about-section-row {
    height: 100%;
}

.about-right-container p {
    color: #212121d6;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
}

.contact-section-right h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    color: white;
    font-weight: 700;
}

.contact-section-right p {
    color: white;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;

}

.contact-form-container input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FEA621;
  }
  .contact-form-container input::-moz-placeholder { /* Firefox 19+ */
    color: #FEA621;
  }
  .contact-form-container input:-ms-input-placeholder { /* IE 10+ */
    color: #FEA621;
  }
  .contact-form-container input:-moz-placeholder { /* Firefox 18- */
    color: #FEA621;
  }

  .contact-form-container input::placeholder { /* Firefox 18- */
    color: #FEA621;
  }

  // textarea
  .contact-form-container textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FEA621;
  }
  .contact-form-container textarea::-moz-placeholder { /* Firefox 19+ */
    color: #FEA621;
  }
  .contact-form-container textarea:-ms-input-placeholder { /* IE 10+ */
    color: #FEA621;
  }
  .contact-form-container textarea:-moz-placeholder { /* Firefox 18- */
    color: #FEA621;
  }
  .contact-form-container textarea::placeholder { /* Firefox 18- */
    color: #FEA621;
  }

  .contact-form-container .custom-button {
    background-color: #FEA621;
    border: 2.5px solid #FEA621;
    font-size: 16px;
    padding: 8px 33px;
    border-radius: 0px;
    font-weight: 700;
  }

  .custom-button:hover {
    background-color: #4b4b4a;
    color: #fea627;
    cursor: default;
  }

  .copyright-container {
      background-color: #4b4b4a;
  }

  .copyright-container p {
    color: white;
    margin-bottom: 0px;
}

  .custom-button:not(:disabled):not(.disabled):active, .custom-button:not(:disabled):not(.disabled).active, .show > .custom-button.dropdown-toggle {
    background-color: #4b4b4a;
    color: #fea627;
}

.custom-button:not(:disabled):not(.disabled):active:focus, .custom-button:not(:disabled):not(.disabled).active:focus, .show > .custom-button.dropdown-toggle:focus {
    box-shadow: none;
}

.custom-button:not(:disabled):not(.disabled):active, .custom-button:not(:disabled):not(.disabled).active, .show > .custom-button.dropdown-toggle {

    border-color: #FEA621;
}

.footer-container {
    padding: 95px 0px 107px 0px;
}

.mobile-nav {
    display: none;

}

  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
  }

  .ham2 .top {
    stroke-dasharray: 40 121;
  }
  .ham2 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham2.active .top {
    stroke-dashoffset: -102px;
  }
  .ham2.active .bottom {
    stroke-dashoffset: -102px;
  }

.mobile-about-section {
    display: none;
    background-color: #FEA621;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-section-right {
    padding-top: 40px!important;
    padding-bottom: 40px!important;
}

.text-wrapper-large
{
    display: block;
}

.text-wrapper-small
{
    display: none;
}

nav ul li {
    display: inline-block;
    padding: 0px;
}

nav ul {
    padding: 0px;
}


